@media  screen and (max-width: 460px){
*{
	margin: auto;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	overflow-x: hidden;
}
.header{
	margin-top: -80px;
}
.header a{
	display: none;
}
.header img{
	margin-top: 40px;
	margin-left: 20px;
	width: 110px;
}
.myHeader h2{
	margin-left: 20px;
	font-size: 20px;
}
.myHeader hr{
	margin-left: 20px;
}
.myHeader p{
	margin-left: 20px;
	font-size: 16px;
}
#img{
	height: 150px;
	padding: 65px;
	width: 200px;
}
#img1{
	height: 150px;
	width: 200px;
	padding: 65px;
}
#img2{
	height: 150px;
	padding: 65px;
	width: 200px;
}
#img3{
	height: 150px;
	padding: 65px;
	width: 200px;
}
.navbar{ 
	height: 300px;
    width: 350px;
    margin-top: 20px;
    display: none;
    position: fixed;
    background-color: whitesmoke;
    margin-left: max-width;
}
.navbar a{
	color: purple;
	text-decoration: none;
}
.navbar a:hover{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	transition: 1s;
	font-size: 20px;
	background-image: linear-gradient(to right, purple,mediumvioletred);
	color: white;
}
.navbar ul{
	margin-top: 50px;
}
.navbar li{
	padding-bottom: 13px;
    list-style-type: none;
}
.respnav span{
    border: 1px solid black;
	height: 5px;
	width: 35px;
	background: black;
	display: block;
	margin-top: 4px;
	position: relative;
	border: none;
	cursor: pointer;
}
.respnav{
	margin-top: 45px;
	margin-left: 270px;
}
#times{
	color: red;
	cursor: pointer;
	font-size: 30px;
	margin-left: 320px;
	padding-top: 5px;
}
.images{
	margin-left: 100px;
}
}